body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#taskInput, #assigneeInput {
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #333;
    font-size: 16px;
}

#taskInput::placeholder, #assigneeInput::placeholder {
    color: #999;
}

#addButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start; /* Align the button to the start of the input group */
}

#addButton:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 5px;
}

.remove-button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #d4351c;
}
